<div>
  <div
    class="h-screen w-screen inset-0 p-3 flex flex-col justify-center items-center gap-4"
  >
    <div class="flex flex-col gap-1">
      <label class="text-lg" for="song-input">Song</label>
      <input
        class="border-2 border-slate-400 rounded w-72 h-11 px-2"
        id="song-input"
        type="text"
        [(ngModel)]="song"
        placeholder="Toxic"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label class="text-lg" for="artist-input">Artist</label>
      <input
        class="border-2 border-slate-400 rounded w-72 h-11 px-2"
        id="artist-input"
        type="text"
        [(ngModel)]="artist"
        placeholder="Britney Spears"
      />
    </div>
    <button
      class="flex justify-center items-center text-2xl w-72 rounded-lg font-bold bg-green-400 p-2"
      (click)="fetchRecommendedTracksBySongAndArtist()"
    >
      🔍 Recommend Songs
    </button>
    <div
      class="flex flex-col gap-1"
      id="recommended-songs-by-track-and-artist"
    ></div>
  </div>

  <div
    class="h-screen w-screen inset-0 p-3 flex flex-col justify-center items-center gap-4"
  >
    <input
      id="artist1-input"
      class="border-2 border-slate-400 rounded w-72 h-11 px-2"
      type="text"
      [(ngModel)]="artist1"
      placeholder="Artist 1"
    />
    <input
      id="artist2-input"
      class="border-2 border-slate-400 rounded w-72 h-11 px-2"
      type="text"
      [(ngModel)]="artist2"
      placeholder="Artist 2"
    />
    <input
      id="artist3-input"
      class="border-2 border-slate-400 rounded w-72 h-11 px-2"
      type="text"
      [(ngModel)]="artist3"
      placeholder="Artist 3"
    />
    <button
      class="flex justify-center items-center text-2xl w-72 rounded-lg font-bold bg-green-400 p-2"
      (click)="fetchRecommendedTracksByArtists()"
    >
      🔍 Recommend Songs
    </button>
  </div>
  <div class="flex flex-col gap-1" id="recommended-songs-by-artists"></div>
</div>
